body{
  margin: 0;
  font-family: 'Abel', sans-serif;
}

.top {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#logo {
  width: 10%;
  height: 10%;
  border-radius: 50%;
  border-style: ridge;
  margin: 2%;
  margin-left: 0;
  transition: all .2s ease-in-out;
}

#logo:hover {
  transform: scale(1.5);
}

h1 {
  color: white;
  font-weight: 500;
  font-size: 5vw;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  text-align: right;
}

#splash {
  width: 100%;
}

.navigator {
  width: 100%;
  height: 5vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navigator div {
  width: 120px;
}

.navigator div a {
  text-decoration: none;
}

.pics {
  display: flex;
  width: 100%;
}

.pics img {
  width: 25%;
  height: 25%;
  padding: 2px;
}

.menu {
  text-align: center;
  margin-top: 50px;
}

.menu h4 {
  text-decoration: underline;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact textarea {
  width: 100%;
  margin: 15%;
  margin-top: 5%;
  margin-bottom: 2%;
}

.contact button {
  width: 200px;
  font-size: 15px;
  margin-bottom: 50px;
}
